@import './../jspm_packages/npm/pragma-views@0.0.31/scss/mobile/assistant';
@import './../jspm_packages/npm/pragma-views@0.0.31/scss/mobile/app';
@import './../jspm_packages/npm/pragma-views@0.0.31/scss/mobile/pragma-dropdown-menu';